[Unit]
Description=xmr start script

[Service]
ExecStart=/home/ubuntu/xmr/start-xmr.sh
Type=simple
RemainAfterExit=yes
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
