[Unit]
Description=xmr start script

[Service]
ExecStart=/home/ec2-user/xmr/start-xmr.sh
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target